//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 1230px desctop min

@media (max-width: 1230px) {
  
   .header-top__menu {
    padding-right: 0;
  }
}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 1120px

@media (max-width: 1120px) {
  //========================================== HEADER START

  .header-top {
    justify-content: space-between;
  }

  .header-top__logo {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .header-top__contacts {
    max-width: 280px;
    align-items: end;
    margin-right: rem(0);
    flex-shrink: 0;
  }

  .header-top__menu {
    display: none;
    flex-shrink: 0;
  }

  //========================================== HEADER END
}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 1200px

@media (max-width: 1200px) {
  .header-top__logo {
    max-width: 47px;
    flex-grow: 1;
    & span {
      display: none;
    }
    margin-right: auto;
  }
}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 880px ++++++++++ ipad air
@media (max-width: 880px) {
  .header__container {
    padding: 0px 20px;
  }

  .header-top__contacts {
    display: flex;
    align-items: baseline;
    font-weight: 800;
    font-size: rem(14);
    flex-grow: 1;
    min-width: calc(15.4% + 3.5% + 20.4% + 4.4%);
    text-align: left;
  }
  .menu__icon {
    padding-right: 0px;
    flex-shrink: 1;
  }

}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 820px

@media (max-width: 820px){
  .header-top__contacts {
    min-width: calc(15.4% + 3.5% + 20.4% + 4%);
   }
}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 768px

@media (max-width: 768px){
  .header-top__contacts {
    min-width: calc(15.4% + 3.5% + 20.4% + 4.6%);
  }
}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 720px

@media (max-width: 720px){
  .header-top__contacts {
    min-width: calc(15.4% + 3.5% + 20.4% + 8%);
  //  margin-right: 0px;
  }
}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 550px

@media (max-width: 550px) {

  .icon-menu{
    .menu-open  & {
      span {
        width: 35px;
        height: 25px;
        background-color: transparent;
        
      }
      &::before,
      &::after {
        width: rem(20);
        height: rem(2);
        background-color: $color-darck;
        transition: transform 0.3s ease-out 0s;
       
      }
      &::before {
        top: calc(50% - rem(1.5));
        transform: rotate(-45deg);
      }
      &:hover {
        &::before,
        &::after {
          height: rem(2);
        }
        &::after {
          bottom: calc(50% - rem(0.5));
        }
      }
      &::after {
        bottom: calc(50% - rem(0.5));
        transform: rotate(45deg);
      }
    
  }
    
  }
 

  .header-top__contacts-phone {
    font-weight: 600;
  }

  .header-top__logo {
    flex-grow: 0;
    margin-right: 0;
  }

  .header-top__contacts {
    justify-content: center;
    flex-grow: 1;
    margin: 0 auto;
  }

  .header-top__contacts-callback {
    display: none;
  }



  .aside {

    // .aside__social

    margin-bottom: 22px;

    &__social {
     margin-bottom: 0;
      display: flex;
      justify-content: space-between;
    }

    // .aside__social-link

    &__social-link {
      color: $color-darck;
    }

    // .aside__logo

    &__logo {
      position: absolute;
      top: 36px;
      left: 36px;
    }

    // .aside__logo-img

    &__logo-img {
      display: none;
    }
    &__logo-darck-img{
      display: block;
    }
    &__social {
      display: flex;
      justify-content: space-between;
    }
  }

  .menu {

    // .menu__body

    &__body {
      width: 100vw;
      padding-top: 68px;
      background-color: #fff;
      justify-content: center;
      transition: transform 0.4s ease-in-out 0s;
    }

    // .menu__list

    &__list {
      margin-left: 95px;
      
      & > li {
        font-size: 12px;
        color: $color-darck;
      }
    }
  }
}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 330px

