@media (max-width: 1440px) {
}

@media (max-width: 1382px) {
}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 780px / ipad mini
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 880px / ipad air
@media (max-width: 880px) {
  body {
    font-size: rem(14);
  }
  .news-page {
    // .news-page__info-title

    &__info-title {
    }

    // .news-page__box

    &__box {
      margin-bottom: rem(30);
    }

    // .news-page__content

    &__content {
    }

    // .news-page__content-colum

    &__content-colum {
    }

    // .news-page__content-title

    &__content-title {
      margin-top: rem(30);
      font-size: 14px;
    }

    // .news-page__content-text

    &__content-text {
      & > p:not(:last-child) {
        margin-bottom: rem(0);
      }
    }

    // .news-page__content-date

    &__content-date {
      margin-bottom: rem(30);
    }

    // .news-page__slider

    &__slider {
    }

    // .news-page__slider-btn

    &__slider-btn {
    }

    // .news-page__slider-btn-prev

    &__slider-btn-prev {
    }

    // .news-page__slider-btn-next

    &__slider-btn-next {
    }

    // .news-page__wrapper

    &__wrapper {
    }

    // .news-page__slide

    &__slide {
    }

    // .news-page__content-img

    &__content-img {
    }
  }
  .news-page {
    &__link {
      padding-top: rem(30);
      display: flex;
      justify-content: center;
    }
    // .news-page__arrow

    &__arrow {
      padding: 0 10px;
    }
  }
}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 550px

@media (max-width: 550px) {
  body {
    font-size: rem(12);
  }

  .news-page {

    &__section{
        margin-bottom: rem(0);
    }

    // .news-page__info-title

    &__info-title {
    }

    // .news-page__box

    &__box {
      flex-direction: column-reverse;
      border: none;
      margin-bottom: rem(25);
    }

    // .news-page__content

    &__content {
    }

    // .news-page__content-colum

    &__content-colum {
      padding: 0;
    }

    // .news-page__content-title

    &__content-title {
        margin-top: rem(25);
        margin-bottom: rem(25);
        font-size: 12px;
    }

    // .news-page__content-text

    &__content-text {
      & > p:not(:last-child) {
        margin-bottom: rem(10);
      }
    }

    // .news-page__content-date

    &__content-date {
      text-align: left;
      padding-top: rem(15);
      margin-bottom: rem(0);
    }

    // .news-page__slider

    &__slider {
    }

    // .news-page__slider-btn

    &__slider-btn {
        top: calc(50% - 15px);
    }

    // .news-page__slider-btn-prev

    &__slider-btn-prev {
    }

    // .news-page__slider-btn-next

    &__slider-btn-next {
    }

    // .news-page__wrapper

    &__wrapper {
    }

    // .news-page__slide

    &__slide {
    }

    // .news-page__content-img

    &__content-img {
    }
  }
  .news-page {
    &__link {
      padding-top: rem(0);
      display: flex;
      justify-content: center;
    }
    // .news-page__arrow

    &__arrow {
      padding: 0 10px;
    }
  }
}
