//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 1500px
@media (max-width: 1500px) {
  .promo {
    background-position: 50% 50%;
  }
}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 1230px desctop min

@media (max-width: 1230px) {
  .infrastructure__spollers {
    min-width: rem(450);
    flex-shrink: 0;
  }
}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 1120px

@media (max-width: 1120px) {
  .location {
    // .location__map-img
    &__map-img {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(3) {
        display: block;
      }
    }
  }
}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 780px / ipad mini
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 880px / ipad air

@media (max-width: 880px) {
  .promo {
    background-image: url(@img/home-bg-ipad.jpg);
    min-height: calc(100vh - rem(60) - rem(26));

    &__slider {
      flex-direction: column;
    }

    &__slider-list {
      padding: 20px 0 0 0;
    }
  }

  .atention {
    // .atention__info

    &__info {
      display: none;
    }

    &__info--ipad {
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(20);
    }

    &__info-text1--ipad {
      min-width: calc(100% - 20px);
    }

    &__info-text2--ipad {
      width: calc(50% - 15px);
      margin-left: auto;
      margin-bottom: rem(60);
      flex-shrink: 0;
    }

    &__info-title--ipad {
      min-width: 52%;
      flex-shrink: 1;
    }
  }

  .infrastructure {
    // .infrastructure__box

    &__box {
      flex-direction: column;
      position: relative;
      margin-bottom: rem(60);
    }

    // .infrastructure__spollers

    &__spollers {
      width: 50%;
      min-width: rem(380);
      padding-right: rem(20);
      flex-shrink: 0;
      & > h3 {
        position: absolute;
        top: rem(9);
        right: 0;
      }
    }

    // .infrastructure__spollers-body

    &__spollers-body {
      font-size: calc(7px + 0.6vw);
    }

    // .infrastructure__spollers-images

    &__spollers-images {
      width: 100%;
      padding: 0;
      margin: 0;
      margin-top: rem(60);
    }

    // .infrastructure__spollers-img

    &__spollers-img {
      margin-top: 0;
    }
  }

  .characteristics {
    // .characteristics__wrap

    &__wrap {
      flex-direction: column-reverse;
      position: relative;
      margin-bottom: rem(60);
    }

    // .characteristics__video-box

    &__video-box {
      width: 100%;
      padding: 0;
    }

    // .characteristics__info

    &__info {
      width: 50%;
      min-width: rem(380);
      flex-shrink: 0;
      margin-left: auto;
      margin-bottom: rem(60);
      & > h3 {
        position: absolute;
        top: rem(9);
        left: 0;
      }
    }
  }

  .benefits {
    // .benefits__title

    &__title {
      display: none;
    }
  }

  .location {
    // .location__wrapper

    &__wrapper {
      margin-bottom: rem(30);
    }
  }
}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 720px
@media (max-width: 720px) {
  .atention__title {
    font-size: calc(9px + 3.8vw);
  }

  .contacts-callback__form-tel-phone.popup__form-tel-phone::before {
    left: 22.6%;
  }
  .contacts-callback__form-tel-question.popup__form-tel-question {
    padding-right: 0px;
  }
}
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ max-width: 550px

@media (max-width: 550px) {
  body {
    font-size: rem(12);
  }
  .promo {
    background-image: url(@img/home-bg-mobile.jpg);
    min-height: calc(100vh - rem(48) - rem(22));
    &__slider-list {
      padding: 15px 0 0 0;
    }
  }

  .atention {
    &__title {
      font-size: 16px;
    }
    // .atention__info

    &__info {
      display: flex;
    }
    &__info--ipad {
      display: none;
    }
  }

  .infrastructure {
    .atention__info-text2--ipad {
      display: none;
    }

    // .infrastructure__box
    &__box {
      flex-direction: column-reverse;
      margin-bottom: 0px;
    }

    // .infrastructure__spollers

    &__spollers {
      min-width: 100%;
      margin-bottom: 25px;
      padding-right: 0;
    }

    // .infrastructure__spollers-body

    &__spollers-body {
      font-size: calc(9px + 0.55vw);
    }

    // .infrastructure__sub-title

    &__sub-title {
      margin: 25px 0px;
    }

    // .infrastructure__spollers-title

    &__spollers-title {
      padding: rem(8) rem(0) rem(8) rem(0);
      & span {
        font-size: 7px;
      }
    }

    // .infrastructure__spollers-images

    &__spollers-images {
      width: 100%;
      padding-left: 0;
      margin-top: 0;
      & > img {
        margin-top: 0;
      }
    }
  }

  .buildings {
    width: 100%;

    // .buildings__container

    &__container {
      & > h3 {
        margin-bottom: rem(25);
      }
      & > p {
        display: none;
      }
    }

    // .buildings__image-box

    &__image-box {
      display: none;
    }

    &__image-box-mobile {
      display: block;
      width: 100%;

      & img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }

  .characteristics {
    &__info {
      margin-left: 0;
      // width: 100%;
      & > h3 {
        margin-top: 0;
        margin-bottom: rem(25);
        position: static;
        top: rem(9);
        left: 0;
      }
    }

    // .characteristics__wrap

    &__wrap {
      flex-direction: column;
      margin-bottom: 25px;
    }

    // .characteristics__video-box

    &__video-box {
      width: 100%;
      padding: 0;
      margin-bottom: rem(25);
    }
    &__video-btn {
      max-width: 45px;
    }

    // .characteristics__info

    &__info {
      padding-left: 0px;
      margin-bottom: 0;
      min-width: 100%;
    }

    // .characteristics__info-subtitle

    &__info-subtitle {
      text-align: left;
    }

    // .characteristics__info-item

    &__info-item {
      padding: 7px 0px 8px;
    }
  }

  .apartments {
    &__spollers-element {
      padding-left: 35%;

      &:first-child {
        padding-top: rem(25);
        // border-top: 1px solid $color-darck;
      }
      & label {
        padding-left: rem(15);
      }
    }
  }

  .benefits {
    // .benefits__title

    &__title {
      display: block;
      margin-left: 0;
    }
    &__info-title {
      margin-bottom: rem(25);
    }
  }

  .location {
    // .location__map-img
    &__map-img {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        display: block;
      }
      &:nth-child(3) {
        display: none;
      }
    }

    &__info-title {
      margin-bottom: 0;
    }
  }

  .news {
    &__info {
      display: none;
    }
  }

  .interest {
    margin-bottom: rem(5);
    &__info-title {
      margin-bottom: rem(0);
    }
  }
}
