// Заголовки, загальні БЕМ блоки та інше...

$color-darck: #353535;
$color-green: #68aa40;
$color-white: #d9d9d9;
$color-white-op: rgba(255, 255, 255, 0.3);
$color-border: rgba(114, 114, 114, 0.3);
$color-grey: rgba(53, 53, 53, 0.7);
$color-grey-bg: rgba(114, 114, 114, 0.3);
$color-orange: #fd8d25;

input[type="text"],
input[type="email"],
input[type="tel"] {
  background-color: $color-darck;
  width: 100%;
  height: rem(35);
  margin-bottom: rem(1);
  padding: 10px 0px;
  border-radius: 0px;
  border-bottom: 1px dashed $color-white-op;
  color: #ffffff; /* изменяем цвет текста на серый */
  transition: border-bottom 0.3s ease-in-out 0s;
  &::placeholder {
    outline: none;
    color: #ffffff; /* изменяем цвет текста на серый */
    background-color: #353535;
  }

  &:active,
  &:focus,
  &:hover {
    font-weight: 800;
    outline: none; /* убрать стандартный обводку */
    // border-bottom: 1px dashed $color-green; /* установить цвет границы */
  }

  // &:invalid {
  //   border: 2px solid rgba(82, 20, 20, 0.915);
  // }
}

textarea {
  background-color: $color-darck;
  width: rem(397);
  height: rem(71);
  padding: 10px 0px;
  border-radius: 0;
  border-bottom: 1px dashed $color-white-op;
  overflow-y: auto;
  color: #ffffff; /* изменяем цвет текста на серый */
  &::placeholder {
    font-weight: 800;
    color: #ffffff; /* изменяем цвет текста на серый */
    background-color: #353535;
  }
  &:active,
  &:focus,
  &:hover {
    outline: none; /* убрать стандартный обводку */
    // border-bottom: 1px dashed $color-green; /* установить цвет границы */
  }
}

input[type="checkbox"] {
  &:disabled {
    outline: none; /* убрать стандартный обводку */
    background-color: rgba(114, 114, 114, 0.3);
    border: 0px;
    & + label {
      color: rgba(114, 114, 114, 0.3);
    }
    &:active,
    &:focus,
    &:hover {
      background-color: rgba(114, 114, 114, 0.3);
      border: 1px solid brgba(114, 114, 114, 0.3); /* установить цвет границы */
    }
  }
}

.wrap-container {
  // max-width: 1440px;
  max-width: 1530px;
  margin: 0 auto;
}

//==================================================================================================== TITLE START

.all-sections {
  // margin-bottom: rem(70);
  @include adaptiveValue("margin-bottom", 70, 25, 0, 1230, 550);
}
.main-title {
  font-weight: 600;
  // font-size: 48px;
  @include adaptiveValue("font-size", 48, 16, 0, 1230, 550);
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: $color-darck;
}

.info-title {
  font-weight: 600;
  // font-size: 24px;
  @include adaptiveValue("font-size", 24, 12, 0, 1230, 550);
  line-height: 1;
  letter-spacing: -0.03em;
  margin-bottom: 10px;
}
.title-info {
  // margin-bottom: 40px;
  @include adaptiveValue("margin-bottom", 40, 25, 0, 1230, 550);

}

//==================================================================================================== TITLE END

//==================================================================================================== COLUMN-TEXT START

// .column-text

.column-text {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 70px;
  // @include adaptiveValue("margin-bottom", 70, 25, 0, 1230, 550);
  & > p + p {
    padding-right: rem(0);
    padding-left: rem(20);
  }
  // .column-text__main-title

  &__main-title {
    width: 66.2%;
    margin-left: auto;
    margin-bottom: 70px;
    // @include adaptiveValue("margin-bottom", 70, 25, 0, 1230, 550);
  }

  // .column-text__info-title

  &__info-title {
    flex-grow: 1;
    margin-right: auto;
    min-width: calc(33.33%);
  }

  // .column-text__info-item

  &__info-item {
    width: calc(33.33%);
    // max-width: calc(33.33%);
    min-width: calc(33.33%);
    flex-grow: 1;
    text-overflow: ellipsis;
    padding-right: rem(11);
    padding-left: rem(10);
  }
}



//==================================================================================================== COLUMN-TEXT END

//==================================================================================================== BTN START

// ._icon-arrow

.details-link-arrow {
  display: flex;
  align-items: center;
}

._icon-arrow {
  color: $color-green;
  font-size: 1rem;
}

._icon-arrow-angle {
  color: $color-darck;
  // top:0;
  font-size: 10.6px;
  display: inline-block;
  margin-left: auto;
}

// slider-btn
.slider-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  // margin-bottom: em(12);
  // max-width: 5rem;
  gap: 1.5rem;
}
.slider-btn-prev {
  transform: rotate(180deg);
}

.slider-btn-prev,
.slider-btn-next {
  padding: 0.3125rem;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

// .slider-btn-acsent
.slider-btn-acsent{
    min-width: 100%;
    position: absolute;
    display: flex;
    top: calc((50%) - (50px));
    left: 0;
    z-index: 6;
    cursor: pointer;

  // .slider-btn-acsent__prev
  &__prev {
    transform: rotate(180deg);
    @include adaptiveValue("width", 50, 30);
    @include adaptiveValue("height", 50, 30);
    background-color: $color-green;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      opacity: 0.7;
    }
  }

  // .slider-btn-acsent__next
  &__next {
    @include adaptiveValue("width", 50, 30);
    @include adaptiveValue("height", 50, 30);
    background-color: $color-green;
    color: #ffffff;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      opacity: 0.7;
    }
  }
}

// btn dark
.dark-btn {
  background-color: $color-darck;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out 0s;
  &:focus,
  &:hover {
    background-color: $color-grey;
  }
}

// btn-center
.btn-center {
  display: flex;
  justify-content: center;
  max-width: calc(33.33% - rem(18));
  margin: 0 auto;
  padding: rem(8);
}

//==================================================================================================== BTN END


//==================================================================================================== APARTMENTS SEARCH START

// .apartments-search
.apartments-search {
  // .apartments-search__search-form
  &__search-form {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: rem(31);
    // margin-bottom: 70px;
    @include adaptiveValue("margin-bottom", 70, 25);
  }

  // .apartments-search__spollers-quantity
  // .apartments-search__spollers-house
  // .apartments-search__btn-search
  &__btn-search,
  &__spollers-quantity,
  &__spollers-house {
    flex-basis: 33.33%;
    text-align: center;
    // flex-grow: 1;
    border: 1px solid $color-border;
    // &:focus,
    // &:hover{
    //   border: 1px solid $color-darck;
    // }
  }

  // .apartments-search__spollers-item
  &__spollers-item {
    text-align: center;
    position: relative;
  }

  // .apartments-search__spollers-title
  &__spollers-title {
    font-weight: 500;
    text-transform: uppercase;
    padding: rem(8);
    transition: all 0.3s ease-in-out 0s;
    &:focus,
    &:hover {
      font-weight: 800;
    }
    & span {
      position: absolute;
      right: rem(15.2);
      top: rem(11);
      transform: rotate(180deg);
      transition: all 0.3s ease-in-out 0s;
      &:focus,
      &:hover {
        font-weight: 800;
      }
    }

    &._spoller-active {
      font-weight: 800;
      & span {
        transform: rotate(0deg);
        font-weight: 800;
        // transform: matrix(0, -1, 1, 0, 0, 0);
      }
    }
  }

  // .apartments-search__spollers-body
  &__spollers-body {
    width: inherit;
    padding: 0 0 1.9375rem 0;
    border-top: 1px solid $color-border;
  }

  &__spollers-element {
    display: flex;
    align-items: center;
    text-align: left;
    // @include adaptiveValue("padding-left", 135, 5);
    padding-left: rem(135);
    &:not(:last-child) {
      padding-bottom: rem(15);
    }
    &:first-child {
      padding-top: rem(31);
      // border-top: 1px solid $color-darck;
    }
    & label {
      padding-left: rem(18);
    }
    & input[type="checkbox"] {
      appearance: none;
      width: 1rem;
      height: 1rem;
      background-color: transparent;
      border: 1px solid $color-darck;
      border-radius: 0;
      transition: all 0.3s linear 0s;
    }

    input[type="checkbox"]:checked {
      background-color: $color-green;
      border: 1px solid $color-green;
    }
  }

  // .apartments-search__btn-search
  &__btn-search {
    padding: rem(8);
  }
}

//==================================================================================================== APARTMENTS SEARCH END







._icon-location {
  display: inline-block;
  color: $color-green;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.hidden {
  display: none;
}
