//==================================================================================================== COMPANY PROMO START

.company-promo {
  max-width: 100vw;
  // transition: filter ease 4.5s;
  & img {
    min-width: 100vw;
    height: calc(100vh - 70px - 37px);
    position: relative;
    margin-top: 70px;
    z-index: 1;
    filter: blur(4px);
    animation-name: imgAnimation;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    // animation-direction: normal;
    animation-delay: 0.5s;
    animation-fill-mode: both;
  }
  // .company-promo__title

  &__title {
    display: block;
    font-weight: 600;
    font-size: rem(48);
    line-height: 110%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: rem(287);
    transform: translate(-50%, 0);
    z-index: 2;
    & span {
      display: block;
      font-weight: 600;
      font-size: 24px;
      line-height: 110%;
      text-align: center;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #ffffff;
      opacity: 0.5;
    }
  }

  // .company-promo__cards

  &__cards {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    gap: rem(32);
    left: 50%;
    top: 58%;
    transform: translate(-50%, 0);
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(196, 196, 196, 0.05);
    border: 1px solid #ffffff;
    @include adaptiveValue("width", 397, 243);
    // width: rem(397);
    height: rem(140);
    overflow: hidden;
    opacity: 0;
    // transition: opacity ease 1.2;
    &:nth-child(1) {
      animation-name: cardAnimation;
      animation-duration: 1.8s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
      // animation-direction: normal;
      animation-delay: 1s;
      animation-fill-mode: both;
    }
    &:nth-child(2) {
      animation-name: cardAnimation;
      animation-duration: 2.2s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      // animation-direction: normal;
      animation-delay: 2.4s;
      animation-fill-mode: both;
    }
    &:nth-child(3) {
      animation-name: cardAnimation;
      animation-duration: 2.2s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      // animation-direction: normal;
      animation-delay: 3.8s;
      animation-fill-mode: both;
    }
  }

  // .company-promo__card-title

  &__card-title {
    font-weight: 600;
    font-size: rem(72);
    line-height: 110%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #ffffff;
  }

  // .company-promo__card-item

  &__card-item {
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

@keyframes cardAnimation {
  0% {
    opacity: 0;
    filter: blur(2px);
  }

  25% {
    opacity: 0.3;
    filter: blur(1px);
  }

  // 50% {
  //   opacity: 0.5;
  // }

  75% {
    opacity: 0.9;
    filter: blur(0px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes imgAnimation {
  0% {
    filter: blur(4px);
  }

  // 25%{
  //   opacity: 0.3;
  // }

  // 50% {
  //   opacity: 0.5;
  // }
  75% {
    filter: blur(3px);
  }

  100% {
    filter: blur(0px);
  }
}

//==================================================================================================== COMPANY PROMO END

//==================================================================================================== COMPANY ATENTION START

.company-atention {
  // .company-atention__container

  &__container {
  }

  // .company-atention__title

  &__title {
  }

  // .company-atention__info

  &__info {
  }

  // .company-atention__info-title

  &__info-title {
  }

  // .company-atention__info-text

  &__info-text {
  }

  // .company-atention__slider

  &__slider {
    margin-bottom: 70px;
  }

  // .company-atention__slider-btn

  &__slider-btn {
  }

  // .company-atention__slider-btn-prev

  &__slider-btn-prev {
  }

  // .company-atention__slider-btn-next

  &__slider-btn-next {
  }

  // .company-atention__wrapper

  &__wrapper {
  }

  // .company-atention__slide

  &__slide {
  }

  // .company-atention__slide-img

  &__slide-img {
  }

  // .company-atention__btn-link

  &__btn-link {
    display: flex;
    justify-content: center;
    // flex-basis: 397px;
    max-width: 32%;
    margin: 0 auto;
    padding: rem(8);
  }
}

//==================================================================================================== COMPANY ATENTION END

//==================================================================================================== COMPANY SOCIAL START

.social {
  // .social__wrap

  &__wrap {
    display: flex;
    justify-content: space-between;
    gap: 31px;
  }

  // .social__card

  &__cards {
    border: 1px solid $color-border;
    max-width: rem(379);
  }

  &__card {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    // align-content: start;
    max-width: rem(183);
    @include adaptiveValue("height", 397, 243);
    // min-height: rem(397);
    @include adaptiveValue("margin-top", 140, 70);
    @include adaptiveValue("margin-right", 97, 47);
    @include adaptiveValue("margin-bottom", 70, 35);
    @include adaptiveValue("margin-left", 97, 47);
    // margin: rem(140) rem(97) rem(70) rem(97);
    & p {
      overflow: hidden;
      padding: 0px 5px;
    }
  }

  // .social__card-title

  &__card-title {
    margin-bottom: rem(35);
    font-weight: 600;
    font-size: rem(24);
    letter-spacing: -0.03em;
    padding: 0px 5px;
  }
}

.social__card p + p {
  margin-top: auto;
}
// .social__cards + .social__cards {
//   @include adaptiveValue("margin-left", 32, 15);
// }

//==================================================================================================== COMPANY SOCIAL END
