.contacts {
  margin-top: rem(37);
//   margin-bottom: 70px;

  // .contacts__info

  &__info {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 70px;
  }

  // .contacts__info-title

  &__info-title {
    min-width: rem(397);
    width: 33.33%;
    margin-right: auto;
    // flex-grow: 1;
  }

  // .contacts__info-column

  &__info-column {
    min-width: rem(397);
    width: 31.8%;
    flex-grow: 0;
    text-overflow: ellipsis;
    padding: 5px;
    & + .contacts__info-column {
      margin-left: 5px;
    }
  }

  // .contacts__info-company

  &__info-company {
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  // .contacts__info-ltd

  &__info-ltd {
    font-weight: 800;
    margin-bottom: rem(15);
    text-transform: uppercase;
  }

  // .contacts__info-address

  &__info-address {
    margin-bottom: rem(35);
  }

  // .contacts__info-phone

  &__info-phone {
    display: block;
    font-weight: 800;
    margin-bottom: rem(15);
  }

  // .contacts__info-email

  &__info-email {
    border-bottom: 1px solid $color-darck;
    & span {
      color: $color-orange;
      border-bottom: 1px solid $color-orange;
    }
  }

  // .contacts__google-map

  &__google-map {
    
  }
}


