.documentation-atention {
  margin-top: rem(37);

  // .documentation-atention__container

  &__container {
  }

  // .documentation-atention__title

  &__title {
  }


  // .documentation-atention__info

  &__info {
  }

  // .documentation-atention__info-title

  &__info-title {
    min-width: 33.33%;
    flex-grow: 1;
  }

  &__info-box--ipad{
    display: flex;
    justify-content: space-between;
  }

  // .documentation-atention__info-text

  &__info-text {
    width: 50%;
  }
}

.documentation {
  // .documentation__slider

  &__slider {
    min-width: 100%;
    min-height: 100%;
    margin-bottom: rem(70);
    position: relative;
  }

  // .documentation__container

  &__container {
  }

  // .documentation__slider-btn

  &__slider-btn {
    // min-width: 100%;
    // position: absolute;
    // display: flex;
    // top: calc((50%) - (50px));
    // left: 0;
    // z-index: 6;
  }

  // .documentation__slider-btn-prev

  &__slider-btn-prev {
    // transform: rotate(180deg);
    // @include adaptiveValue("width", 50, 30);
    // @include adaptiveValue("height", 50, 30);
    // background-color: $color-green;
    // color: #ffffff;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // &:hover {
    //   opacity: 0.7;
    // }
  }

  // .documentation__slider-btn-next

  &__slider-btn-next {
    // @include adaptiveValue("width", 50, 30);
    // @include adaptiveValue("height", 50, 30);
    // background-color: $color-green;
    // color: #ffffff;
    // margin-left: auto;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // &:hover {
    //   opacity: 0.7;
    // }
  }

  // .documentation__wrapper

  &__wrapper {
    // min-width: 100%;
    // min-height: 100%;
  }

  // .documentation__card

  &__card {
    // display: flex;
    // justify-content: space-between;
    // align-content: center;
    border: 2px solid $color-border;
    width: 397px;
    min-height: 539px;
  }

  &__card-info {
    display: flex;
    flex-direction: column;
    // justify-content: center;

    flex-basis: 183px;
    width: 190px;
    // height: 397px;
    @include adaptiveValue("height", 397, 147);
    @include adaptiveValue("margin-top", 140, 70);
    margin: 0 auto;
    margin-bottom: 35px;
  }

  // .documentation__card-number

  &__card-number {
    display: block;
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 14px;
  }

  // .documentation__card-link

  &__card-link {
    display: block;
    flex-grow: 1;
    margin-bottom: auto;
  }

  // .documentation__card-title

  &__card-title {
    width: 182px;
    min-height: 135px;
    letter-spacing: -0.03em;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: -0.03em;
    // flex-grow: 1;
    
    margin-bottom: 138px;
  }

  // .documentation__details-link

  &__details-link {
    height: 14px;
    letter-spacing: -0.03em;
    // margin-top: 60px;
    margin-bottom: 70px;
  }
  &__arrow {
    margin-left: rem(10);
  }

  &__btn-link {
    // display: flex;
    // justify-content: center;
    // max-width: 31%;
    // margin: 0 auto;
    // padding: rem(8);
    margin-bottom: 70px;
  }
}

.documentation-all {
  margin-bottom: rem(70);
  // .documentation-all__cards

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    justify-items: center;
    gap: 31px 31px;
  }

  // .documentation-all__card

  &__card {
    width: 100%;
  }

  // .documentation-all__card-info

  &__card-info {
    margin-bottom: 0;
  }

  // .documentation-all__card-number

  &__card-number {
  }

  // .documentation-all__card-link

  &__card-link {
  }

  // .documentation-all__card-title

  &__card-title {
  }

  // .documentation-all__details-link

  &__details-link {
    margin-bottom: 70px;
  }

  // .documentation-all__arrow

  &__arrow {
    margin-left: 10px;
  }
}
