.documentation-atention {
  margin-top: rem(37);

  // .documentation-atention__info-title

  &__info-title {
    min-width: 33.33%;
    flex-grow: 1;
  }

  &__info-box--ipad{
    display: flex;
    justify-content: space-between;
  }

  // .documentation-atention__info-text

  &__info-text {
    width: 50%;
  }
}

.documentation {
  // .documentation__slider

  &__slider {
    min-width: 100%;
    min-height: 100%;
    margin-bottom: rem(70);
    position: relative;
  }

  // .documentation__card

  &__card {
    border: 2px solid $color-border;
    width: 397px;
    min-height: 539px;
  }

  &__card-info {
    display: flex;
    flex-direction: column;
    flex-basis: 183px;
    width: 190px;
    @include adaptiveValue("height", 397, 147);
    @include adaptiveValue("margin-top", 140, 70);
    margin: 0 auto;
    margin-bottom: 35px;
  }

  // .documentation__card-number

  &__card-number {
    display: block;
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 14px;
  }

  // .documentation__card-link

  &__card-link {
    display: block;
    flex-grow: 1;
    margin-bottom: auto;
  }

  // .documentation__card-title

  &__card-title {
    width: 182px;
    min-height: 135px;
    letter-spacing: -0.03em;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: -0.03em;
    margin-bottom: 138px;
  }

  // .documentation__details-link

  &__details-link {
    height: 14px;
    letter-spacing: -0.03em;
    margin-bottom: 70px;
  }
  &__arrow {
    margin-left: rem(10);
  }

  &__btn-link {
    margin-bottom: 70px;
  }
}

.documentation-all {
  margin-bottom: rem(70);

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    justify-items: center;
    gap: 31px 31px;
  }

  // .documentation-all__card

  &__card {
    width: 100%;
  }

  &__details-link {
    margin-bottom: 70px;
  }

  // .documentation-all__arrow

  &__arrow {
    margin-left: 10px;
  }
}
