//==================================================================================================== PROMO START

.promo {
  background-image: url(@img/home-bg.jpg);
  min-width: 100vw;
  min-height: calc(100vh - rem(70) - rem(37));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
  position: relative;

  &__slider-box {
    padding-top: 62vh;
  }
  // .promo__slider
  &__slider {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-weight: 500;
    @include adaptiveValue("font-size", 72, 28, 0, 1230, 430);
    line-height: 85%;
    letter-spacing: 0.007em;
    color: #ffffff;
    text-transform: capitalize;
  }

  // .promo__slider-list
  &__slider-list {
    padding-left: em(12);
  }
}

.slider-text li {
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out 0s;
  &::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: $color-green;
    margin-left: rem(12);
  }
}

.slider-text li.active {
  opacity: 1;
}

//==================================================================================================== PROMO END

//==================================================================================================== ATENTION START

.atention {
 
  &__info--ipad {
    display: none;
  }

  &__slider-btn {
    justify-content: flex-end;
    margin-bottom: rem(25);
  }

  &__slide {
    // overflow: hidden;
    height: auto;
    & > img,
    & > source {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

//==================================================================================================== ATENTION END

//==================================================================================================== INFRASTRUCTURE START

.infrastructure {
  .__title {
    width: 66.66%;
  }

  // .infrastructure__box
  &__box {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 70px;
    min-width: 100%;
  }

  // .infrastructure__spollers
  &__spollers {
    width: 33.33%;
    padding-right: 31px;
  }

  // .infrastructure__title
  &__sub-title {
    margin-bottom: rem(35);
  }

  // .infrastructure__spollers-title
  &__spollers-title {
    text-align: left;
    width: 100%;
    padding: rem(18) rem(10) rem(18) rem(0);
    border-bottom: 1px dashed $color-darck;
    position: relative;
    & span {
      position: absolute;
      right: 0;
      top: 40%;
      transform: rotate(180deg);
    }
    &._spoller-active {
      font-weight: 800;
      border-bottom: none;
      & span {
        font-weight: 800;
        transform: rotate(0deg);
      }
    }
  }

  // .infrastructure__spollers-body
  &__spollers-body {
    text-align: left;
    width: 100%;
    padding: rem(9) rem(0) rem(7) rem(0);
    border-bottom: 1px dotted $color-darck;
  }

  // .infrastructure__spollers-images
  &__spollers-images {
    width: 66.66%;
    padding-left: rem(15);
    margin: 0 auto;
  }

  // .infrastructure__spollers-img
  &__spollers-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    @include adaptiveValue("margin-top", 30, 240);
  }
}

//==================================================================================================== INFRASTRUCTURE END

//==================================================================================================== CHARACTERISTICS START

.characteristics {
  // .characteristics__wrap
  &__wrap {
    display: flex;
    justify-content: flex-start;
  }

  // .characteristics__video-box

  &__video-box {
    width: 66.66%;
    height: auto;
    position: relative;
    padding-right: rem(10);
  }

  // .characteristics__video-poster
  &__video-poster {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  // .characteristics__video-btn
  &__video-btn {
    max-width: 117px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & svg {
      width: 100%;
      height: 100%;
    }
    & svg > path:hover {
      fill-opacity: 0.15;
      stroke-width: 3px;
    }
  }

  // .characteristics__info
  &__info {
    max-width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: rem(21);
  }

  // .characteristics__info-subtitle
  &__info-subtitle {
    text-align: right;
  }

  // .characteristics__info-list
  &__info-list {
    max-width: 100%;
    margin-top: auto;
  }

  // .characteristics__info-item
  &__info-item {
    padding: rem(15) rem(10) rem(16) rem(0);
    border-bottom: 1px dashed $color-darck;
  }
}

//==================================================================================================== CHARACTERISTICS END

//==================================================================================================== BUILDINGS START

.buildings {
  // .buildings__image-box
  &__image-box {
    background-image: url("../img/home-3d.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 100%;
    height: auto;
    & svg {
      width: 100%;
      height: auto;
    }
    & svg .buildings__turn {
      transition: all 0.6s ease-in-out 0s;
    }

    & svg .buildings__turn:hover {
      fill-opacity: 0.3;
    }
    & svg .buildings__turn-13,
    & svg .buildings__turn-12,
    & svg .buildings__turn-11 {
      &:hover {
        fill-opacity: 0.2;
      }
    }
  }

  &__image-box-mobile {
    display: none;
  }
}

//==================================================================================================== BUILDINGS END

//==================================================================================================== APARTMENT START

.apartments {
  // .apartments__slider
  &__slider {
    min-width: 100%;
    margin-bottom: rem(35);
    @include adaptiveValue("margin-bottom", 35, 25, 0, 1230, 550);
    position: relative;
  }

  // .apartments__card
  &__card {
    // overflow: hidden;
    height: auto;
    & > img,
    & > source {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

//==================================================================================================== APARTMENT END

//==================================================================================================== BENEFITS START

.benefits {
  &__container {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  // .benefits__title
  &__title {
    margin-left: 34%;
    @include adaptiveValue("margin-bottom", 70, 25, 0, 1230, 550);
  }

  // .benefits__info-title
  &__info-title {
    margin-bottom: rem(35);
  }

  // .benefits__slider-btn
  &__slider-btn {
    align-items: flex-start;
  }

  // .benefits__slide
  &__slide {
    height: auto;
    & > img,
    & > source {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

//==================================================================================================== BENEFITS END

//==================================================================================================== LOCATION START

.location {
  
  &__wrapper{
    @include adaptiveValue("margin-bottom", 70, 25, 0, 1230, 550);
  }
  // .location__map-img
  &__map-img {
    width: 100%;
    height: auto;
   
    overflow: hidden;
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      display: none;
    }
  }
}

//==================================================================================================== LOCATION END

//==================================================================================================== NEWS START

.news {
  // .news__slider
  &__slider {
    min-width: 100%;
    @include adaptiveValue("margin-bottom", 70, 25, 0, 1230, 550);
    position: relative;
  }

  // .news__card
  &__card {
    max-width: 100%;
    height: auto;
    border: 2px solid $color-border;
    display: flex;
  }

  // .news__card-info
  &__card-info {
    display: flex;
    flex-direction: column;
    max-width: rem(183);
    height: auto;
    margin: 0 auto;
  }

  // .news__title
  &__title {
    font-weight: 600;
    text-transform: uppercase;
    margin: rem(140) rem(0) rem(35);
  }

  // .news__subtitle
  &__subtitle {
    font-weight: 600;
    font-size: rem(24);
    letter-spacing: -0.03em;
    min-height: rem(205);
    line-height: 140%;
  }

  // .news__link
  &__link {
    margin: rem(84) rem(0) rem(70);
  }

  // .news__arrow
  &__arrow {
    margin-left: rem(10);
  }
}

//==================================================================================================== NEWS END

//==================================================================================================== INTEREST START

.interest {
  // .interest__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  // .interest__info-title
  &__info-title {
    margin-bottom: rem(35);
  }

  // .interest__slider-btn
  &__slider-btn {
    align-items: flex-start;
  }

  // .interest__slide
  &__slide {
    // overflow: hidden;
    height: auto;
    & > img,
    & > source {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

//==================================================================================================== INTEREST END

//==================================================================================================== footer contacts-callback START

.contacts-callback__btn {
  display: none;
}
