.news-page {
  margin-top: 107px;
  // .news-page__title

  // .news-page__info-title

  &__info-title {
    margin-bottom: 60px;
  }

  // .news-page__box

  &__box {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    border: 1px solid $color-grey-bg;
    margin-bottom: rem(70);
    height: 100%;
  }

  // .news-page__content

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 30px;
    flex-basis: 440px;
    @include adaptiveValue("margin-left", 108, 0);
    max-width: rem(460);
    
  }

  // .news-page__content-title

  &__content-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.03em;
    margin-top: rem(100);
    margin-bottom: rem(35);
  }

  // .news-page__content-text

  &__content-text {
   flex-grow: 1;
   overflow-y: auto;
   padding-right: 10px;
  }

  // .news-page__content-__date

  &__content-date {
    margin-bottom: 50px;
    text-align: right;
   
    
    
  }

  // .news-page__content-images

  &__content-images {
    overflow: hidden;
    flex: 0 0 33.333%;
    position: relative;
    min-width: rem(610);
    height: rem(540);
  }

  // .news-page__content-img

  &__content-img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 6.7s linear 0s;
    &:focus,
    &:active,
    &:hover {
      transform: scale(1.4);
    }
  }
}
