.news-page {
  margin-top: rem(37);

  // .news-page__info-title

  &__info-title {
    margin-bottom: 60px;
  }

  // .news-page__box

  &__box {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    border: 1px solid $color-grey-bg;
    margin-bottom: rem(70);
  }

  // .news-page__content

  &__content {
    min-width: 52%;
  }

  &__content-colum {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px 0px 0px 20px;
    max-width: rem(493);
  }

  // .news-page__content-title

  &__content-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.03em;
    margin-top: rem(100);
    margin-bottom: rem(35);
  }

  // .news-page__content-text

  &__content-text {
    flex-grow: 1;
    overflow-y: auto;
  }

  // .news-page__content-date

  &__content-date {
    margin-bottom: 50px;
    text-align: right;
  }

  // .news-page__slider

  &__slider {
    width: 100%;
  }

  // .news-page__wrapper

  &__wrapper {
  }

  // .news-page__slide

  &__slide {
    // width: 100%;
    // height: auto;
    // overflow: hidden;

   
    position: relative;
    width: 49%;
    height: rem(540);
  }

  // .news-page__content-img

  &__content-img {
    // width: 100%;
    // height: rem(540);
    // object-fit: cover;

    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.news-page {
  // margin-top: rem(37);

  // .news-page__info-title

  &__info-title {
    // margin-bottom: 60px;
  }

  // .news-page__box

  &__box {
    // display: flex;
    // justify-content: start;
    // flex-direction: row-reverse;
    // border: 1px solid $color-grey-bg;
    // margin-bottom: rem(70);
  }

  // .news-page__content

  &__content {
    // flex: 1 1 auto;
    // display: flex;
    // flex-direction: column;
    // margin: 0 auto;
    // padding: 0px 0px 0px 20px;
    // max-width: rem(493);
  }

  // .news-page__content-title

  &__content-title {
    // font-weight: 600;
    // font-size: 24px;
    // line-height: 140%;
    // letter-spacing: -0.03em;
    // margin-top: rem(100);
    // margin-bottom: rem(35);
  }

  // .news-page__content-text

  &__content-text {
    //  flex-grow: 1;
    //  overflow-y: auto;
  }

  // .news-page__content-__date

  &__content-date {
    // margin-bottom: 50px;
    // text-align: right;
  }

  // .news-page__content-images

  &__content-images {
    // overflow: hidden;
    // flex: 0 0 33.333%;
    // position: relative;
    // min-width: 49%;
    // height: rem(540);
  }

  // .news-page__content-img

  &__content-img {
    // width: 100%;
    // min-height: 100%;
    // object-fit: cover;
    // position: absolute;
    // top: 0;
    // left: 0;
  }
}
